
.navigation{
    display: flex;
    margin-left: 500px;
    gap: 15px;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.active{
    color: rgb(255, 0, 8);
}
.normal{
    color: aqua;
}